{% extends "base.html" %}

{% block title %}Features - Your Data Analytics Dashboard{% endblock %}

{% block content %}
<ul class="features-list">
    {% for feature in features %}
    <li>
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
    </li>
    {% endfor %}
</ul>
<img src="{{ url_for('static', filename='images/six.png') }}" alt="Feature Image">
<img src="{{ url_for('static', filename='images/eleven.png') }}" alt="Feature Image" class="hero-img">
<img src="{{ url_for('static', filename='images/seven.png') }}" alt="Feature Image">
<p>
    Ready to experience the power of data-driven insights? Contact us today to learn more about our data analytics dashboard!
</p>
{% endblock %}
