{% extends "base.html" %}

{% block title %}Home - Your Data Analytics Dashboard{% endblock %}

{% block content %}
<section class="hero">
    <img src="{{ url_for('static', filename='images/dashpic.png') }}" alt="Data Analytics Dashboard Graphic" class="hero-img">
    <img src="{{ url_for('static', filename='images/two.png') }}" alt="Additional Image 1" class="hero-img">
    <img src="{{ url_for('static', filename='images/three.png') }}" alt="Additional Image 2" class="hero-img">
    <img src="{{ url_for('static', filename='images/four.png') }}" alt="Additional Image 2" class="hero-img">

    <div class="image-text" style="color: white; text-align: center; margin-top: 10px;">
        <p>Contact us at +91 9666656570</p>
        <p>                                              </p>
        <p>Reach out to  speak@renderdash.studio</p>
        <p>                                              </p>
        <p>LinkedIn - https://www.linkedin.com/company/renderdash-studio/</p>
    </div>
    
</section>
{% endblock %}
