{% extends "base.html" %}

{% block title %}Home - Your Data Analytics Dashboard{% endblock %}

{% block content %}
<section class="hero">
    <img src="{{ url_for('static', filename='images/dashpic.png') }}" alt="Data Analytics Dashboard Graphic" class="hero-img">
    <img src="{{ url_for('static', filename='images/two.png') }}" alt="Additional Image 1" class="hero-img">
    <img src="{{ url_for('static', filename='images/three.png') }}" alt="Additional Image 2" class="hero-img">
    <img src="{{ url_for('static', filename='images/four.png') }}" alt="Additional Image 2" class="hero-img">
    <img src="{{ url_for('static', filename='images/five.png') }}" alt="Additional Image 2" class="hero-img">
</section>
{% endblock %}
