<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Team - Your Data Analytics Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
</head>
<body>
  <header class="header">  </header>

  <main class="global-font">
    <section class="team-section">
      <div class="container">
        <h2>Meet the Team Behind Your Data-Driven Success</h2>
        <p>Our passionate team is dedicated to empowering businesses with cutting-edge data analytics solutions.</p>
        <div class="team-members">
          <div class="team-member">
            <img src="{{ url_for('static', filename='images/f1.jpg') }}" alt="Your Photo" class="hero-img2">
            <h3>Jithin Balivada</h3>
            <h4>CEO & Founder</h4>
            <p>Contact: cto@renderdash.studio</p>
          </div>

          <div class="team-member">
            <img src="{{ url_for('static', filename='images/f2.jpg') }}" alt="Co-founder 1 Photo" class="hero-img3">
            <h3>Chaitanya Srinivas Lavu</h3>
            <h4>CTO & Co-founder</h4>
            <p>Contact: cto@renderdash.studio</p>
          </div>
      </div>
    </section>
  </main>

  <footer class="footer">  </footer>
</body>
</html>
